.notes {
  @media only screen and (min-width: 640px) {
    padding-top: 12px;
  }

  &__title {
    display: none;
    text-transform: uppercase;
  }

  &__wrapper-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
  }

  &__info {
    position: relative;
    align-self: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    margin: 0 auto 5px;
    padding: 15px 30px 15px 15px;
    background-color: #EC9E03;

    @media only screen and (min-width: 640px) {
      align-self: stretch;
      width: 46.6%;
      margin: 0 0 0 3px;
      padding: 15px 23px 13px 27px;
    }
  }

  &__text {
    overflow: hidden;
    margin: 0;
    font-family: SegoeWP-Light,AdobeInvisFont,MyriadPro-Regular, sans-serif;
    color: white;
    font-size: 21px;
    text-overflow: ellipsis;
    line-height: 1.1em;

    @media only screen and (min-width: 640px) {
      font-size: 30px;
    }
  }

  &__plus {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: white;
    font-size: 14px;
    transition: color $regular-anim-time;

    @media only screen and (min-width: 640px) {
      bottom: 17px;
      right: 10px;
      font-size: 11px;
    }

    &:hover {
      cursor: pointer;
      color: #464646;
    }
  }

  &__wrapper-video {
    max-width: 100%;

    @media only screen and (min-width: 640px) {
      max-width: 49%;
      min-height: 233px;
      margin-top: -2px;
      margin-right: 4px;
    }
  }

  &__video {
    @media only screen and (min-width: 640px) {
      width: 114%;
      margin-left: -35px;
    }
  }

  &__video-play {
    top: calc(50% - 21px);
    left: calc(50% - 21px);
    width: 42px;
    height: 42px;
    font-size: 20px;
    background-color: #C7AA0C;

    @media only screen and (min-width: 480px) {
      top: calc(50% - 23px);
      left: calc(50% - 28px);
      width: 62px;
      height: 62px;
      font-size: 28px;
    }
  }

  &__video-play-icon {
    margin-left: 5px;

    @media only screen and (min-width: 480px) {
      margin-left: 7px;
    }
  }
}