.features {
  position: relative;
  z-index: 3;
  background-color: #f1f1f1;

  @media only screen and (min-width: 768px) {
    box-shadow: 0 0 4px 1px #414141;
  }

  &__wrapper {
    justify-content: space-between;
    align-items: stretch;
    padding: 30px 0 20px;

    @media only screen and (min-width: 480px) {
      padding: 28px 0;
    }

    @media only screen and (min-width: 768px) {
      padding: 0;
    }
  }

  &__content {
    justify-content: space-around;
    align-items: center;
    flex: 0 1 33%;
    min-height: 80px;
    padding: 0 5px;

    @media only screen and (min-width: 480px) {
      justify-content: space-between;
      min-height: 113px;
      padding: 0 10px;
    }

    @media only screen and (min-width: 768px) {
      flex: 0 1 34%;
      padding: 25px 5px;
      border-left: 1px solid #d2d2d2;

      &:first-child {
        border-left: none;
      }
    }

    @media only screen and (min-width: 1024px) {
      padding: 28px 5px 34px;

      &:first-child {
        border-left: 1px solid #d2d2d2;
      }

      &:last-child {
        padding-right: 4px;
        border-right: 1px solid #d2d2d2;
      }
    }
  }

  &__img {
    display: block;
    max-width: 90px;
    max-height: 50px;
    margin-bottom: 10px;

    @media only screen and (min-width: 480px) {
      max-width: 90px;
      max-height: none;
    }

    @media only screen and (min-width: 640px) {
      &_beautify {
        &_first {
          margin-left: -32px;
          margin-top: 5px;
        }

        &_second {
          margin-left: 15px;
        }

        &_third {
          margin-left: -6px;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      margin-bottom: 15px;

      &_beautify {
        &_first {
          margin-top: 0;
          margin-left: 0;
        }

        &_second {
          margin-left: 0;
        }

        &_third {
          margin-top: 0;
          margin-left: 0;
        }
      }
    }

    @media only screen and (min-width: 1024px) {
      max-width: 110px;
      max-height: 96px;
      margin-bottom: 9px;

      &_beautify {
        &_first {
          width: 100%;
          height: 75px;
          margin-top: 33px;
        }

        &_second {
          width: 92px;
          height: 96px;
          margin-top: 9px;
          margin-left: 22px;
        }

        &_third {
          width: 82px;
          height: 84px;
          margin-top: 26px;
          margin-left: -26px;
        }
      }
    }
  }

  &__text {
    font-family: SegoeUI-Light, AdobeInvisFont, MyriadPro-Regular, sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;

    @media only screen and (min-width: 480px) {
      font-size: 20px;
    }

    @media only screen and (min-width: 640px) {
      font-size: 23px;

      &_beautify {
        &_first {
          margin-left: -22px;
        }

        &_second {
          margin-left: 16px;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      font-size: 25px;
      &_beautify {
        &_first {
          margin-left: 0;
        }

        &_second {
          margin-left: 0;
        }
      }
    }

    @media only screen and (min-width: 1024px) {
      font-size: 27px;

      &_beautify {
        &_first {
          margin-left: 21px;

        }

        &_second {
          margin-left: 20px;
        }

        &_third {
          margin-left: -22px;
        }
      }
    }
  }

  &__layer {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;

    @media only screen and (min-width: 768px) {
      display: none;
    }

    &_first {
      top: -4px;
      z-index: -2;
      height: calc(100% + 9px);
      opacity: .6;
    }

    &_second {
      top: -9px;
      z-index: -4;
      height: 100%;
      opacity: .3;
    }
  }
}